# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform lock files
.terraform.lock.hcl

# Ignore Terraform working directory
.terraform/

# Ignore sensitive files like terraform variables (if applicable)
*.tfvars
*.tfvars.json